<mat-card class="editar-solicitud">
  <mat-card-header class="editar-solicitud__header">
    <div class="editar-solicitud__header-content">
      <div class="editar-solicitud__titles">
        <mat-card-title>{{ 'HISTORIAL_SOLICITUDES.edit.title' | translate }}</mat-card-title>
        <mat-card-subtitle>{{ 'HISTORIAL_SOLICITUDES.edit.subtitle' | translate }}</mat-card-subtitle>
      </div>
      <button mat-raised-button color="primary" class="editar-solicitud__back" routerLink="/solicitudes">
        <mat-icon>arrow_back</mat-icon>
        {{ 'GLOBAL.regresar' | translate }}
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <ng-container *ngIf="solicitud && form; else noData">
      <div class="editar-solicitud__summary">
        <div class="editar-solicitud__summary-grid">
          <div class="editar-solicitud__summary-item">
            <span class="editar-solicitud__summary-label">
              {{ 'HISTORIAL_SOLICITUDES.columns.id' | translate }}
            </span>
            <span class="editar-solicitud__summary-value">{{ solicitud.id }}</span>
          </div>
          <div class="editar-solicitud__summary-item">
            <span class="editar-solicitud__summary-label">
              {{ 'HISTORIAL_SOLICITUDES.columns.fechaRadicado' | translate }}
            </span>
            <span class="editar-solicitud__summary-value">
              {{ solicitud.fechaRadicado | date: 'longDate':undefined:currentLang }}
            </span>
          </div>
          <div class="editar-solicitud__summary-item">
            <span class="editar-solicitud__summary-label">
              {{ 'HISTORIAL_SOLICITUDES.columns.estado' | translate }}
            </span>
            <span class="editar-solicitud__summary-value">
              {{ getEstadoTranslation(solicitud.estado) | translate }}
            </span>
          </div>
        </div>
      </div>

      <form class="editar-solicitud__form" [formGroup]="form">
        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionDocente' | translate }}
          </h3>
          <div class="editar-solicitud__grid">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.nombreDocente' | translate }}</mat-label>
              <input matInput formControlName="docenteNombre" [disabled]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.identificacionDocente' | translate }}</mat-label>
              <input matInput formControlName="docenteIdentificacion" [disabled]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.facultadDocente' | translate }}</mat-label>
              <input matInput formControlName="docenteFacultad" [disabled]="true" />
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.proyectoDocente' | translate }}</mat-label>
              <input matInput formControlName="docenteProyecto" [disabled]="true" />
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionSolicitud' | translate }}
          </h3>
          <mat-form-field appearance="outline" class="editar-solicitud__field">
            <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.periodoEjecucion' | translate }}</mat-label>
            <input matInput formControlName="periodoEjecucion" />
          </mat-form-field>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionModalidad' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--modalidad">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.modalidad.hint' | translate }}</mat-label>
              <mat-select formControlName="modalidad">
                <mat-option *ngFor="let modalidad of modalidadOptions" [value]="modalidad">
                  {{ modalidad | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionUltimaSolicitud' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--ultima-solicitud">
            <div class="editar-solicitud__field">
              <mat-form-field appearance="outline" class="editar-solicitud__field-full">
                <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.periodoUltimoSabatico' | translate }}</mat-label>
                <mat-date-range-input [rangePicker]="ultimoSabaticoPicker" formGroupName="ultimoSabatico" (focusin)="ultimoSabaticoPicker.open()">
                  <input matStartDate formControlName="start" />
                  <input matEndDate formControlName="end" />
                </mat-date-range-input>
                <mat-date-range-picker #ultimoSabaticoPicker panelClass="sga-sabaticos-datepicker"></mat-date-range-picker>
                <mat-datepicker-toggle matIconSuffix [for]="ultimoSabaticoPicker"></mat-datepicker-toggle>
              </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.productoUltimoSabatico' | translate }}</mat-label>
              <input matInput formControlName="productoUltimo" />
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionObjetivos' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--objetivos">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.objetivoGeneral' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="objetivoGeneral" class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.objetivosEspecificos' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="objetivosEspecificos"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionJustificacion' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--justificacion">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.justificacion' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="justificacion"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionArticulacion' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--articulacion">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.planDesarrolloInstitucional' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="planDesarrolloInstitucional"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.proyectoEducativoFacultad' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="proyectoEducativoFacultad"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.proyectoEducativoProgramas' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="proyectoEducativoProgramas"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionProductoEntregable' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--entregable">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.productoEntregable' | translate }}</mat-label>
              <textarea matInput rows="3" formControlName="productoEntregable"
                class="editar-solicitud__textarea editar-solicitud__textarea--large"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionImpactoAlcance' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--impacto">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.impactoAlcance' | translate }}</mat-label>
              <textarea matInput rows="3" formControlName="impactoAlcance"
                class="editar-solicitud__textarea editar-solicitud__textarea--large"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionMetodologia' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--metodologia">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.metodologia' | translate }}</mat-label>
              <textarea matInput rows="3" formControlName="metodologia"
                class="editar-solicitud__textarea editar-solicitud__textarea--large"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionCronograma' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--cronograma" formGroupName="cronograma">
            <mat-accordion class="editar-solicitud__cronograma" multi>
              <mat-expansion-panel class="editar-solicitud__cronograma-panel"
                [class.editar-solicitud__cronograma-panel--filled]="hasCronogramaValue(mes.key)"
                *ngFor="let mes of cronogramaMeses">
                <mat-expansion-panel-header>
                  <mat-panel-title>{{ mes.label | translate }}</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-form-field appearance="outline" class="editar-solicitud__field">
                  <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.cronograma.actividad' | translate }}</mat-label>
                  <textarea matInput rows="2" [formControlName]="mes.key"
                    class="editar-solicitud__textarea editar-solicitud__textarea--medium"></textarea>
                </mat-form-field>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionPresupuesto' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--presupuesto">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.presupuesto' | translate }}</mat-label>
              <textarea matInput rows="2" formControlName="presupuesto"
                class="editar-solicitud__textarea"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.edit.observaciones.title' | translate }}
          </h3>
          <div class="editar-solicitud__grid editar-solicitud__grid--justificacion">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.edit.observaciones.label' | translate }}</mat-label>
              <textarea matInput rows="3" formControlName="observaciones"
                class="editar-solicitud__textarea editar-solicitud__textarea--large"></textarea>
            </mat-form-field>
          </div>
        </div>

        <div class="editar-solicitud__section">
          <h3 class="editar-solicitud__section-title">
            {{ 'HISTORIAL_SOLICITUDES.modal.sectionDocumentos' | translate }}
          </h3>
          <div class="editar-solicitud__documento-selector">
            <mat-form-field appearance="outline" class="editar-solicitud__field">
              <mat-label>{{ 'HISTORIAL_SOLICITUDES.modal.documentos.seleccionar' | translate }}</mat-label>
              <mat-select [(value)]="documentoSeleccionado" [disabled]="isReadOnly">
                <mat-option *ngFor="let documento of documentosDisponibles; trackBy: trackDocumento"
                  [value]="documento.key">
                  {{ documento.label | translate }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <button mat-raised-button color="primary" type="button" class="editar-solicitud__documento-add"
              (click)="onAgregarDocumento()" [disabled]="isReadOnly || !documentoSeleccionado">
              {{ 'GLOBAL.agregar' | translate }}
            </button>
          </div>
          <div class="editar-solicitud__documentos">
            <div class="editar-solicitud__documento"
              *ngFor="let documento of documentosSeleccionadosDetalle; trackBy: trackDocumento">
              <div class="editar-solicitud__documento-info">
                <span class="editar-solicitud__documento-title">{{ documento.label | translate }}</span>
                <span class="editar-solicitud__documento-file">
                  {{ getDocumentoNombre(documento.key) || ('HISTORIAL_SOLICITUDES.modal.documentos.sinArchivo' | translate) }}
                </span>
              </div>
              <div class="editar-solicitud__documento-actions">
                <label class="editar-solicitud__documento-action" [class.editar-solicitud__documento-action--disabled]="isReadOnly"
                  mat-stroked-button>
                  {{ 'HISTORIAL_SOLICITUDES.modal.documentos.cargar' | translate }}
                  <input type="file" (change)="onDocumentoChange(documento.key, $event)" [disabled]="isReadOnly" />
                </label>
                <button mat-icon-button type="button" class="editar-solicitud__documento-remove"
                  (click)="onEliminarDocumento(documento.key)" [disabled]="isReadOnly"
                  [attr.aria-label]="'GLOBAL.eliminar' | translate">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="editar-solicitud__actions" *ngIf="!isReadOnly">
          <button mat-raised-button type="button" class="editar-solicitud__save" (click)="onGuardar()">
            {{ 'HISTORIAL_SOLICITUDES.edit.save' | translate }}
          </button>
          <button mat-raised-button color="primary" type="button" class="editar-solicitud__send"
            (click)="onEnviarRevision()">
            {{ 'HISTORIAL_SOLICITUDES.edit.sendReview' | translate }}
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #noData>
      <p class="editar-solicitud__empty">{{ 'GLOBAL.no_informacion_registrada' | translate }}</p>
    </ng-template>
  </mat-card-content>
</mat-card>
